[submodule "holyhighlighter"] 
  path = holyhighlighter
  url = https://github.com/TempleWeb/HolyHighlighter
[submodule "HolyHighlighter"]
	path = HolyHighlighter
	url = https://github.com/TempleWeb/HolyHighlighter
